body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(135deg,#0f172a,#1e293b);
  color: white;
}

/* HEADER */
header {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 80px;
  border-radius: 50%;
}

/* ADMIN */
.admin {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px;
}

.admin input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.admin button {
  background: gold;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

/* MENU */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 15px;
  width: 200px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.08);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

/* BUTTON */
button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  background: gold;
}

/* CART */
.cart {
  margin: 30px;
  padding: 20px;
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
}

/* MAP */
.map {
  margin: 20px;
}
