body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg,#0b132b,#1c2541);
  color: white;
  text-align: center;
}

/* LOADER */
#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:30px;
  z-index:999;
  animation: hide 2s forwards 2s;
}

@keyframes hide {
  to {opacity:0;visibility:hidden;}
}

/* HEADER */
header {
  padding:20px;
}

.logo {
  width:100px;
  border-radius:50%;
}

/* BOX */
.box {
  background:#1c2541;
  margin:20px;
  padding:15px;
  border-radius:10px;
}

/* INPUT */
input {
  padding:10px;
  margin:5px;
  border-radius:8px;
  border:none;
}

/* BUTTON */
button {
  padding:10px 20px;
  background:gold;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

/* MENU IMG */
.menu-img {
  width:90%;
  border-radius:15px;
}

/* CARDS */
.menu {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.card {
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(10px);
  padding:15px;
  margin:10px;
  border-radius:15px;
  width:200px;
  transition:0.3s;
}

.card:hover {
  transform:scale(1.05);
}

.card img {
  width:100%;
  border-radius:10px;
}

/* WHATSAPP */
.whatsapp {
  display:inline-block;
  margin:20px;
  padding:12px 20px;
  background:#25D366;
  color:white;
  border-radius:10px;
}
